@mixin screen-xsmall() {
	@media all and (#{$media-query-prefix}-width: $breakpoint-xsmall) {
		@content;
	}
}

@mixin screen-small() {
	@media all and (#{$media-query-prefix}-width: $breakpoint-small) {
		@content;
	}
}

@mixin screen-medium() {
	@media all and (#{$media-query-prefix}-width: $breakpoint-medium) {
		@content;
	}
}

@mixin screen-large() {
	@media all and (#{$media-query-prefix}-width: $breakpoint-large) {
		@content;
	}
}

@mixin dimensions($width, $height) {
	width: $width;
	height: $height;
}

@mixin absolute-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
