h1 {
	font-size: 3.2rem;
}
h2 {
	font-size: 2.8rem;
}
h3 {
	font-size: 2.6rem;
}
h4,
h5,
h6 {
	font-size: 2.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: size(1);
}

p {
	margin-bottom: size(3);
}

strong {
	font-weight: 700;
}

em {
}

i {
	font-style: italic;
}

a {
	border-bottom: 2px solid $color-primary;
}

blockquote {
	font-style: italic;
	font-size: 2.8rem;
}

hr {
	border: 0;
	height: 1px;
	margin: size(4) 0;
	background-color: $color-grey;
}
