@mixin screen-xsmall() {
  @media all and (#{$media-query-prefix}-width: $breakpoint-xsmall) {
    @content;
  }
}

@mixin screen-small() {
  @media all and (#{$media-query-prefix}-width: $breakpoint-small) {
    @content;
  }
}

@mixin screen-medium() {
  @media all and (#{$media-query-prefix}-width: $breakpoint-medium) {
    @content;
  }
}

@mixin screen-large() {
  @media all and (#{$media-query-prefix}-width: $breakpoint-large) {
    @content;
  }
}

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin shadow($variation) {
  box-shadow: unquote(map-get($shadow-loop-array, $variation));
}

@mixin generate-colors($prefix, $property) {
  @each $name, $values in $color-loop-array {
    @if (length($values) > 1) {
      @each $key, $val in $values {
        &#{$prefix}-#{$name}-#{$key} {
          #{$property}: $val;
        }
      }
    } @else {
      &#{$prefix}-#{$name} {
        #{$property}: $values;
      }
    }
  }
}
