@mixin background() {
  // Generate background color utilities
  @include generate-colors('bg', 'background-color');

  // Generate fill color utilities
  @include generate-colors('fill', 'fill');

  // Generate stroke color utilities
  @include generate-colors('stroke', 'stroke');

  // Background Positioning
  &bg- {
    &cover {
      background-size: cover;
    }
    &contain {
      background-size: contain;
    }
    &top {
      background-position: top;
    }
    &bottom {
      background-position: bottom;
    }
    &center {
      background-position: center;
    }
    &left {
      background-position: left;
    }
    &left-bottom {
      background-position: left bottom;
    }
    &left-top {
      background-position: left top;
    }
    &right {
      background-position: right;
    }
    &right-bottom {
      background-position: right bottom;
    }
    &right-top {
      background-position: right top;
    }
    &top {
      background-position: top;
    }
  }
}
