@mixin background() {
  // Generate background color utilities
  @include generate-colors('bg', 'background-color');

  // Generate fill color utilities
  @include generate-colors('fill', 'fill');

  // Generate stroke color utilities
  @include generate-colors('stroke', 'stroke');

  // Background Positioning
  &bg-cover {
    background-size: cover;
  }
  &bg-center {
    background-position: center;
  }
  &bg-top {
    background-position: top;
  }
  &bg-bottom {
    background-position: bottom;
  }
}
