@mixin flex() {
  // Generate 12 column based widths e.g. 4/12
  @for $i from 1 through 12 {
    &w-#{$i}\/12 {
      width: calc((100% / 12) * #{$i});
    }
  }

  &flex {
    display: flex;
  }
  &flex- {
    &wrap {
      flex-wrap: wrap;
    }
    &nowrap {
      flex-wrap: nowrap;
    }
    &col {
      flex-direction: column;
    }
    &col-reverse {
      flex-direction: column-reverse;
    }
    &row {
      flex-direction: row;
    }
    &row-reverse {
      flex-direction: row-reverse;
    }
    &1 {
      flex: 1 1 0%;
    }
    &initial {
      flex: 0 1 auto;
    }
  }

  &justify- {
    &start {
      justify-content: flex-start;
    }
    &end {
      justify-content: flex-end;
    }
    &center {
      justify-content: center;
    }
    &between {
      justify-content: space-between;
    }
    &around {
      justify-content: space-around;
    }
  }

  &items- {
    &baseline {
      align-items: baseline;
    }
    &center {
      align-items: center;
    }
    &end {
      align-items: flex-end;
    }
    &start {
      align-items: flex-start;
    }
  }
}
