@mixin spacing() {
  &m-auto {
    margin: auto;
  }
  &mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  &my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  @for $i from 0 through $loop-count {
    &p-#{$i} {
      padding: size($i);
    }
    &m-#{$i} {
      margin: size($i);
    }

    @each $key in ('top', 'right', 'bottom', 'left') {
      &m#{str-slice($key, 1, 1)}-#{$i} {
        margin-#{$key}: size($i);
      }
      &p#{str-slice($key, 1, 1)}-#{$i} {
        padding-#{$key}: size($i);
      }
    }

    @each $key in ('x', 'y') {
      &m#{$key}-#{$i} {
        @if ($key == 'x') {
          margin-left: size($i);
          margin-right: size($i);
        } @else {
          margin-top: size($i);
          margin-bottom: size($i);
        }
      }
      &p#{$key}-#{$i} {
        @if ($key == 'x') {
          padding-left: size($i);
          padding-right: size($i);
        } @else {
          padding-top: size($i);
          padding-bottom: size($i);
        }
      }
    }
  }
}
