@mixin text() {
  @include generate-colors('text', 'color');

  &text- {
    &center {
      text-align: center;
    }
    &left {
      text-align: left;
    }
    &right {
      text-align: right;
    }
    &capitalize {
      text-transform: capitalize;
    }
    &uppercase {
      text-transform: uppercase;
    }
    &lowercase {
      text-transform: lowercase;
    }
    &underline {
      text-decoration: underline;
    }
    &bold {
      font-weight: bold;
    }
  }

  &font-monospace {
    font-family: monospace;
  }
  &font-medium {
    font-weight: 600;
  }
}
