.p1 {
  @extend p;
}
.p2 {
  @extend p;
  font-size: 1.6rem;
}
.p3 {
  @extend p;
  font-size: 1.4rem;
}
.p4 {
  @extend p;
  font-size: 1.2rem;
}

.content {
  @include generate-headings('', $content-type-scale);

  * {
    margin-bottom: size(3);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: size(1);
  }
  blockquote {
    margin-top: size(5);
    margin-bottom: size(5);
  }
}
