.content {
  @include generate-headings(false, $content-type-scale);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: size(1);
  }
  blockquote,
  figure {
    margin-top: size(5);
    margin-bottom: size(5);
  }
  p {
    margin-bottom: size(3);
  }
  ul,
  ol {
    margin-bottom: size(5);
  }
}
