.card {
  border-radius: 5px;
  border: 1px solid color('grey', 600);
  overflow: hidden;
  transition: $transition-fast ease-in-out;

  &:hover,
  &:focus-within {
    box-shadow: 0px 0px 14px #bdbdbd;
  }
}
.card--highlighted {
  border: 4px solid color('primary', 500);
  box-shadow: 0px 0px 14px #bdbdbd;

  &:after {
    transition: $transition-fast ease-in-out;
    position: absolute;
    top: size(-2);
    right: size(-2);
    width: size(4);
    height: size(4);
    background-color: color('primary', 500);
    transform: rotate(45deg);
    content: '';
  }
}
