.footer {
}
.footer__nav {
  a {
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 400;

    @include screen-medium() {
      flex: 1;
      width: 100%;
    }
  }
}
