.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-medium ease-in-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: $transition-slow cubic-bezier(0.21, 0.82, 0.58, 1.45);
  transition-delay: 250ms;
}
.slide-down-enter, .slide-down-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-32px);
}

.slide-down-1500-enter-active,
.slide-down-1500-leave-active {
  transition: $transition-slow cubic-bezier(0.21, 0.82, 0.58, 1.45);
  transition-delay: 700ms;
}
.slide-down-1500-enter, .slide-down-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-32px);
}
