h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1;
  font-family: $font-primary;
}

@include generate-headings(false, $type-scale);

p {
  line-height: 1.6;
  font-weight: 400;
  color: color('grey', 800);
}

a {
  text-decoration: underline;
  font-weight: 600;
  color: color('primary', 700);

  &:hover {
    color: color('primary', 800);
  }
}

ul {
  list-style-type: disc;
  padding-left: size(6);
}
ol {
  list-style-type: decimal;
  padding-left: size(6);
}
li {
  margin-bottom: size(1);
}

em {
  background-color: color('primary', 200);
}

figcaption {
  font-size: 1.2rem;
  color: color('grey', 600);
  text-align: center;
  margin-top: size(1);
}

hr {
  background-color: color('grey', 200);
  height: 1px;
  width: 100%;
  margin: size(3) 0;
}

blockquote {
  background-color: white;
  box-shadow: shadow('md');
  padding: size(2);
  text-align: center;

  p {
    font-weight: 500;
  }
  footer {
    color: color('grey', 600);
  }
}
