@mixin background() {
	// Background Positioning
	&bg-cover {
		background-size: cover;
	}
	&bg-center {
		background-position: center;
	}
	&bg-top {
		background-position: top;
	}
	&bg-bottom {
		background-position: bottom;
	}

	@include generate-colors('bg', 'background-color');
	@include generate-colors('fill', 'fill');

	&bg-white {
		background-color: $color-white;
	}

	// Colours
	@for $i from 0 through 10 {
		&opacity-#{$i * 10} {
			opacity: $i / 10;
		}
	}
}
