@mixin text() {
	&text-center {
		text-align: center;
	}
	&text-left {
		text-align: left;
	}
	&text-right {
		text-align: right;
	}
	&capitalize {
		text-transform: capitalize;
	}
	&text-primary {
		color: $color-primary;
	}
	&text-secondary {
		color: $color-secondary;
	}
	&text-white {
		color: white;
	}
}
