/**
* This file defines the generic variables used throughout the config
*/

// How many times should the loops that generate sizes in 0.8rem / 8px increments be looped.
$loop-count: 20;

// Switch this to min / max to change the media queries
$media-query-prefix: 'max';

// The container width is the maximum site width for the content
$container-width: 100rem;

/*
    The container margin is the spacing either side of the container
    when the browser is less than the maximum container width
    Note: the container margin is divided by two and split either side
*/
$container-margin: 4rem;
