/*
    These transition timings are not used in the generation
    of utilities but called directly within your SASS components
*/

$transition-slow: 600ms;
$transition-medium: 300ms;
$transition-fast: 100ms;
