$font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-serif: 'Times New Roman', serif;

$font-primary: $font-sans-serif;
$font-secondary: $font-serif;

$root-font-size: 10px;
$body-font-size: 1.8;

$type-scale: 1.333; // Perfect fourth
$content-type-scale: 1.15; // Minor third
