$color-primary: #E2391D;
$color-secondary: #299884;
$color-tertiary: #29383D;
$color-grey: hsl(0, 0, 30%);

$color-white: white;
$color-black: black;

$color-loop-array: (
	primary: $color-primary,
	secondary: $color-secondary,
	tertiary: $color-tertiary,
	grey: $color-grey,
	black: $color-black,
	white: $color-white
);
