$color-primary: #f66d9b;
$color-secondary: #9561e2;
$color-white: white;
$color-grey: hsl(0, 0, 40%);

$color-loop-array: (
	primary: $color-primary,
	secondary: $color-secondary,
	grey: $color-grey
);
