$color-primary: crimson;
$color-secondary: cornflowerblue;

$color-white: white;
$color-grey: #929292;

$color-loop-array: (
	primary: $color-primary,
	secondary: $color-secondary,
	grey: $color-grey
);