/**
* This file defines the generic vaiables
*/

$loop-count: 20;
$color-range: 3;
$border-width-range: 6;
$border-radius-range: 10;

// Switch this to min / max to change the media queries
$media-query-prefix: "max";

$container-width: 120rem;
$container-margin: 4rem;
